  
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #002D71;
  --sub-color: #e74c3c;
  --point-color: #6DCAE8;
  --g1: #D9D9D9;
  --g2: #5B5B5B;
  --g3: #3D3D3D;
  --black: #242424;
  --white: #fff;

  --h1: font-weight: 700;
        line-height: normal;

  --section-margin: 0 0 70px;

}



/* font */

.container{

  width:1000px;
  margin: 0 auto;

}

  body {
    font-size: 14px;
    color: #242424;
    margin: 0;
    padding: 0;
  }

  html{
    font-family: 'Pretendard-Regular';
    font-weight: 100;
  }
  




/* spacing */

  section, .mySwiper {
    margin : var(--section-margin);
  }


  .mb-5{
    margin-bottom: 5px ;
  }

  .mb-10{
    margin-bottom: 5px ;
  }

  .mb-20{
    margin-bottom: 20px ;
  }

  .mb-30{
    margin-bottom: 30px ;
  }

  .mb-40{
    margin-bottom: 40px ;
  }

  .mb-50{
    margin-bottom: 50px ;
  }

  .mb-60{
    margin-bottom: 60px ;
  }


/* font */

.bold{
  font-weight: 700;
}

.f-14{
  font-size: 14px;}

.f-16{
  font-size: 16px;
}

.f-20{
  font-size: 20px;}

.f-25{
  font-size: 25px;}

.f-30{
  font-size: 30px;}

.f-35{
  font-size: 35px;}




/* header */



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  box-shadow: 0 5px 5px -5px #DBDBDB;
  /* transition: 0.3s; */
}


.header-container{

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo a {
  width: 196px;
  height: 55px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.menu {
  width: 580px;
}


.menu ul {
  display: flex;
  gap: 40px;
  justify-content: end;

}

.menu ul li a {
  color: #000000;
}

.menu ul li a:hover {
  color: #eb0029;
}


.drop {
  position: absolute;
  top: 100%;
  z-index: 1;
  height: 200px;
  background-color: #000000;
  /* display: none; */
  transition: opacity 0.3s ease-in-out; 
 
}

.drop.active {
  display: block;
}

.drop-wrap {
  display: flex;
  gap: 40px;
  justify-content: end;

}


.drop ul {
  text-align: center;
  display: flex;
  flex-direction: column;

}


.drop ul li a {
  color: #9a9a9a;
}

.drop ul li a:hover {
  color: #eb0029;
}







/* footer */


footer{
  height: 200px;
  background-image: url(/img/footer-img.png);
  background-color: #23263F;
  color: #ffffff;
  background-blend-mode: multiply;
  padding: 50px;
}


.footer-wrapper{
  display: flex;
}

.footer-call p, .footer-kakao p{
 display: inline-block;
}

.footer-content1{
  width: 450px;
}

.footer-content2 p{
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #D9D9D9;
}



/* subpage */

.breadcrumb {
  font-size: 14px;
  color: #333;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: #0056b3;
}