/* reset */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  
}

a {
  text-decoration: none;
  color: inherit;
}


ul li {list-style:none;}

/* font */


  body {
    font-size: 14px;
    color: #242424;
    margin: 0;
    padding: 0;
  }




@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  html{
    font-family: 'Pretendard-Regular';
    font-weight: 100;
  }
  

  :root {
    --m-color: #002D71;
    --s-color: #e74c3c;
    --p-color: #6DCAE8;
    --g1: #D9D9D9;
    --g2: #5B5B5B;
    --g3: #3D3D3D;

    --h1: font-weight: 700;
          line-height: normal;


  }

/* spacing */

  .mb-20{
    margin-bottom: 20px ;
  }

  .mb-30{
    margin-bottom: 30px ;
  }

  .mb-40{
    margin-bottom: 40px ;
  }

  .mb-50{
    margin-bottom: 50px ;
  }

  .mb-60{
    margin-bottom: 60px ;
  }

  .mb-70{
    margin-bottom: 70px ;
  }



/* font */

.bold{
  font-weight: 700;
}

.f-14{
  font-size: 14px;}

.f-16{
  font-size: 16px;
}

.f-20{
  font-size: 20px;}

.f-25{
  font-size: 25px;}

.f-35{
  font-size: 35px;}



/* color */
.mc{
  color:#274B83
}

.line {
  border: 1px solid #D9D9D9; /* 테두리 스타일, 두께, 색상 */
}

.container {
  width: 50%;
  margin: 0 auto;
}

/* header */


   header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    box-shadow: 0 5px 5px -5px #DBDBDB;
  }

  .header-container{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .menu {
    display: flex;
    gap:40px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    text-align: center; 

  }

  .menu-item {
    position: relative;
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

  }


/* dropdown */

* {margin:0; padding:0;}
ul li {list-style:none;}
.clearfix:after{content:'';display:block; clear:both;}
body {background:rgb(255, 255, 255); overflow-y:scroll; padding-top:100px;}

header {	
	height: 100px;
	overflow:hidden;
	transition:height 0.4s;
  background-color: rgba(255, 255, 255, 0.95);

}

nav {
  width:600px; ;
}

.menu-item {
  float:left;
  line-height:50px;
  margin-right:10px;
  position: relative;
}

.submenu{
  width: 100px;
  margin-top: 25px;
  /* display: none; */
  position: absolute;


}
.submenu > li{
  white-space:nowrap;
  font-size: 16px;
  text-align: left;
}

.submenu > li:hover{
color: #0048c5 ;
}



nav:hover .submenu{
  display:block;
}


  
/* sub section */

.menu-bg{
  height: 195px;
  background: #949494;
  margin-top: 100px;
}

.bread{
  display: inline;
}

.menu-container{
  height: auto;
  background: #ffffff;
  margin-top: -50px;
}



/* footer */


footer{
  height: 200px;
  background-image: url(/img/footer-img.png);
  background-color: #23263F;
  color: #ffffff;
  background-blend-mode: multiply;
  padding: 50px;
}


.footer-wrapper{
  display: flex;

}


.footer-call p {
 display: inline-block;
}


.footer-content1{
  width: 450px;
}

.footer-content2 p{
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #D9D9D9;
}

