/* common   */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #002D71;
  --sub-color: #e74c3c;
  --point-color: #11B5CD;
  --point-color2: #88A1CC;
  --hover-color: #03235a;
  --g1: #fafafa;
  --g1: #ececec;
  --g2: #D9D9D9;
  --g3: #7A7A7A;
  --g4: #5B5B5B;
  --g5: #3D3D3D;
  --black: #242424;
  --white: #fff;

  --h1: font-weight: 700;
  line-height: normal;

  --section-margin: 0 0 70px;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.line {
  border: 1px solid #dddddd;
}

.sdw {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.10);
}

/* font */


body {
  width: 100%;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #242424;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}



html {
  font-family: 'Pretendard-Regular';
  font-weight: 100;
}



/* spacing */



section,
.mySwiper {
  margin: var(--section-margin);

}



/* font */

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}




@media (max-width: 700px) {

  .container {
    width: 90%
  }


  .header-container {

    flex-direction: column;
  }

  .sec1-wrapper {
    min-height: 200px;
    flex-direction: column;

  }

  .sec2-menu {
    flex-direction: column;
    width: 90%;
  }


  .sc2-wrap {
    display: flex;
    flex-direction: column;


    img {
      width: 70%;
      margin: 0 auto;
    }
  }


  .sc3-wrapper {

    flex-direction: column;
  }


  .footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}