
body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

  /* slide */

.slide{
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
    text-align: left;
    margin-top: 100px;

}

.slide1{
  background-image: url('/img/slide1.png');
}
.slide2{
  background-image: url('/img/slide2.png');
}
.slide3{
  background-image: url('/img/slide3.png');
}


.text-content{
  height: 300px;
  padding: 100px 0 60px 0;
}

.text-content p:nth-of-type(1) {
  font-size: 23px;
  color : #6DCAE8;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
  }
  


.text-content > h2{
  margin-top: 40px;
  font-weight: 600;
  font-size: 50px;
}

.text-content p:nth-of-type(2) {
margin-top : 40px;
color : #D9D9D9;
font-size: 18px;
font-style: normal;
font-weight: 100;
line-height: 30px;
}


.slide .logos img:nth-child(1){
  width: 140px;
  display: block;
}

.slide .logos img:nth-child(2){
  width: 174px;
  display: block;
  margin-bottom: 10px;

}

.slide .logos img:nth-child(3){
  width: 40px;
  display: block;
}


.slide .logos {
  gap: 30px;
  display: flex;
  align-items: left; 
  margin-bottom: 40px;

}



/* section1 */


.sec1 {
  margin-top: 50px ;

}

.sec1-wrapper{
  height: 110px;
  display: flex;
  justify-content: space-between;

}

.menu1, .menu2 {
  display: flex;
  justify-content: space-between;
  width: 49%;

}

.menu1 > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-left: 50px;
  margin-bottom: 10px;
}

.menu2 > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-left: 50px;
  margin-bottom: 10px;
}

.direct-box, .direct-box2{
  width: 200px;
  align-content:center;
  background-color: #002D71;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; 
  height: 100%; 
  font-size: 18px;
}

.direct-box2{
  border: 1px solid #D9D9D9;
  background-color: #F2F2F2;
  color:#181818;
}



.direct-box p::after {
  content: ''; 
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent; 
  border-bottom: 6px solid transparent; 
  border-left: 6px solid #D9D9D9; 
  margin-left: 8px; 
  vertical-align: middle; 
}

/* section2 */


.sec2-wrapper{
  margin-top: 75px;
  text-align: center;
}

.sec2-menu{
  display: flex;
  gap:20px ;
  height: 450px;
  margin-top: 65px ;
}

.sec2-menu > div{
  width: 33%;
}



/* section3 */

.sec3-wrapper{
  margin-top: 45px;
  display: flex;
  gap: 20px;

}

.sec3-wrapper > div{
  width: 50%;
  height: 130px;

}

