.container {
    width: 100%;
    height: 500px;
    display: flex;
}

.left {
    flex: 1;
    /* 남은 공간을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.box {
    border: 1px solid black;
    box-sizing: border-box;
}

.small {
    width: 50%;
    height: 25vh;
}

.large {
    width: 50%;
    height: 50vh;
}