.sub-container {
    display: flex;
}

.content1 {
    width: 50%;
    height: 700px;
    margin: 50px 0 0 70px;
}

.content1 div {
    margin-bottom: 45px;
}

.content1 div h4 {
    color: var(--main-color);
    margin-bottom: 15px;
}

.content1 div p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 21px;
}

.content1 div h5 {
    color: #868686;
}

.content2 {
    width: 350px;
    height: 550px;
    background-image: url(/img/auth-car.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
    bottom: 5%;
}