/* subpage */

.sub-container {
  width: 900px;
  margin: 0 auto;
}

hr {
  margin-top: 0.1px;
}

.menu-bg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-color: #4b4e70;
  color: #ffffff;
  background-blend-mode: multiply;
  margin-top: 100px;
  display: flex;
  position: absolute;
  left: 50%;
  top: -120px;
  transform: translate(-50%, -50%);
  z-index: 1;

}

.bg-1 {
  background-image: url(/img/menu1-bg.png);
}

.bg-2 {
  background-image: url(/img/menu2-bg.png);
}

.bg-3 {
  background-image: url(/img/menu3-bg.png);
}

.bg-4 {
  background-image: url(/img/menu4-bg.png);
}

.menu-container {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 220px;
  position: relative;
}

.sub-title {
  height: 29px;
  padding: 30px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px #e2e2e2;
}

.sub-title>h4 {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  height: 23px;

}

.sub-title::before {
  content: "";
  display: block;
  width: 3px;
  height: 22px;
  background-color: #839abb;
  flex-shrink: 0;
  position: absolute;
  left: calc(0% + 50px);
}

.sub-title::after {
  border: 0;
  height: 1px;
  margin: 0 auto;
  width: 950px;
  background-color: #bababa;
}

.text-overlay {
  margin-top: 50px;
}

.text-overlay h2>span {
  font-size: 16px;
  font-weight: 300;
  color: #d9d9d9;
}

.breadcrumb {
  font-size: 14px;
  color: #333;
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: var(--point-color);
}